.main-editor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}

.html-panel {
    flex: 1;
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.input-panel {
    /* flex: 1; */
    padding: 20px;
}

.header-input textarea{
    width: 94.3%;
    height: 70px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.footer-input textarea{
    width: 94.3%;
    height: 70px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.input-panel textarea{
    width: 100%;
    height: 350px; 
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.preview-panel {
    height: 65%;
    flex: 1;
    padding: 20px;
    /* margin-bottom: 60px; */
}

.preview-panel h2 {
    margin-top: 0;
}

.preview-panel div {
    border: 1px solid #ccc;
    padding: 10px;
}